<%= render "users/homes/header" %>

<main role="main" class="mb-5">
  <% if flash[:notice] %>
    <div class="alert alert-warning" role="alert">
      <%= notice %>
    </div>
  <% end %>
  <section class="jumbotron text-center home-image mb-5">
    <div class="container">
      <h1 class="jumbotron-heading" style="color: #fffacd;">集まれ、草野球選手</h1>
      <p class="lead" style="color: #fffacd;">活躍を自慢しよう！！</p>
      <p>
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-warning my-2" %>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary my-2" %>
      </p>
    </div>
  </section>
  <div class="album py-5" id="about">
    <div class="container">
      <h3 class="text-center mb-5">About</h3>
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-image-left" style="height: 225px; width:100%; display: block;"></div>
            <div class="card-body text-center">
              <h3 class="card-heading">活躍の自慢</h3>
              <p class="card-text">
                あなたのその活躍を全国の草野球選手に自慢しよう！<br>画像やハイライト動画を投稿して、活躍を見せつけられます！
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-image-center" style="height: 225px; width:100%; display: block;"></div>
            <div class="card-body text-center">
              <h3 class="card-heading">選手間の交流</h3>
              <p class="card-text">
                全国の草野球選手たちともっと交流を深めませんか？<br>気になるあの選手にDMを送ることもできます！
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-image-right" style="height: 225px; width:100%; display: block;"></div>
            <div class="card-body text-center">
              <h3 class="card-heading">成績の管理</h3>
              <p class="card-text">
                成績も投稿してみんなに自慢してみましょう！<br>通算成績の確認や、過去の活躍を振り返ることができます！
              </p>
            </div>
          </div>
        </div>
      </div>
      <p class="text-center"><%= link_to "今すぐ新規登録！", new_user_registration_path, class: "btn btn-warning my-5 col-6" %></p>
    </div>
  </div>
</main>
<footer class="text-muted">
  <div class="container">
    <p class="text-center">
      ©2020 kusa-baseball.site
    </p>
  </div>
</footer>