<div class="container-fluid">
  <div class="row">

    <%= render "users/users/sidebar" %>

    <div class="col-md-8 offset-md-1 col-10 offset-1 my-5" id="main">

    <h1 class="mb-5">投稿の編集</h1>

    <!-- エラーメッセージ表示-->
  	<% if @post.errors.any? %>
  		<div id="error_explanation" class="text-center alert alert-danger"  role="alert">
				<% @post.errors.full_messages.each do |message| %>
				<span><%= message %></span>
				<% end %>
  		</div>
  	<% end %>
  	<!-- エラーメッセージ表示-->

    <%= form_with model: @post, url: posts_path,method: :post, local: true do |f| %>
      <div class="my-3">
        <%= f.label :投稿画像 %>
        <%= f.attachment_field :post_images_post_images, multiple: true %>
      </div>
      <img id="preview_0" style="width:15%;">
      <img id="preview_1" style="width:15%;">
      <img id="preview_2" style="width:15%;">
      <img id="preview_3" style="width:15%;">
      <img id="preview_4" style="width:15%;">
      <div class="my-3">
        <%= f.label :コメント %><br>
        <%= f.text_area :body %>
      </div>

      <div class="my-5">
        <%= f.label :Youtubeのリンク %><br>
        <%= f.text_field :youtube_url, class: "youtube_url" %>
      </div>

      <div class="my-3">
        <h3>打撃</h3>
        <table class="table table-responsive-md">
          <tr>
            <th>打数</th>
            <th>単打</th>
            <th>二塁打</th>
            <th>三塁打</th>
            <th>本塁打</th>
            <th>打点</th>
            <th>得点</th>
            <th>四死球</th>
            <th>盗塁</th>
          </tr>
          <tr>
            <td><%= f.number_field :AB, class: "AB", min: 0 %></td>
            <td><%= f.number_field :single, class: "single", min: 0 %></td>
            <td><%= f.number_field :double, class: "double", min: 0 %></td>
            <td><%= f.number_field :triple, class: "triple", min: 0 %></td>
            <td><%= f.number_field :HR, class: "HR", min: 0 %></td>
            <td><%= f.number_field :RBI, class: "RBI", min: 0 %></td>
            <td><%= f.number_field :run, class: "run", min: 0 %></td>
            <td><%= f.number_field :BB_HBP, class: "BB_HBP", min: 0 %></td>
            <td><%= f.number_field :steal, class: "steal", min: 0 %></td>
          </tr>
        </table>
      </div>

      <div class="my-3">
        <h3>投手</h3>
        <table class="table table-responsive-md">
          <tr>
            <th>投球回</th>
            <th>被安打</th>
            <th>失点</th>
            <th>奪三振</th>
            <th>与四死球</th>
          </tr>
          <tr>
            <td><%= f.number_field :inning, class: "inning" %></td>
            <td><%= f.number_field :hit_allowed, class: "hit_allowed", min: 0 %></td>
            <td><%= f.number_field :run_allowed, class: "run_allowed", min: 0 %></td>
            <td><%= f.number_field :SO, class: "SO", min: 0 %></td>
            <td><%= f.number_field :BB_HBP_allowed, class: "BB_HBP_allowed", min: 0 %></td>
          </tr>
        </table>
      </div>

      <div class="my-3">
        <h3>チーム</h3>
        <table class="table table-responsive-md">
          <tr>
            <th>対戦チーム</th>
            <th>スコア</th>
            <th></th>
            <th>試合日</th>
          </tr>
          <tr>
            <td><%= f.text_field :team_against, class: "team_against" %></td>
            <td><%= f.number_field :score_my_team, class: "score_my_team", min: 0, placeholder: "自チーム" %></td>
            <td><%= f.number_field :score_team_against, class: "score_team_against", min: 0, placeholder: "相手チーム" %></td>
            <td><%= f.date_select :date, class: "date" %></td>
          </tr>
        </table>
      </div>


      <%= f.submit("更新して投稿する", class: "btn btn-primary col-12") %>
    <% end %>

    </div>
  </div>
</div>

<%= render "users/users/footer" %>


<script>
$('#post_post_images_post_images').on('change', function (e) {
    if(e.target.files.length > 5){
      alert('一度に投稿できるのは五枚までです。');
      $('#post_post_images_post_images').val = "";
      for( let i = 0; i < 5; i++) {
        $(`#preview_${i}`).attr('src', "");
      }
    }else{
      let reader = new Array(5);
      for( let i = 0; i < 5; i++) {
        $(`#preview_${i}`).attr('src', "");
      }
      for(let i = 0; i < e.target.files.length; i++) {
        reader[i] = new FileReader();
        reader[i].onload = finisher(i,e);
        reader[i].readAsDataURL(e.target.files[i]);
        function finisher(i,e){
          return function(e){
          $(`#preview_${i}`).attr('src', e.target.result);
          }
        }
      }
   }
});
</script>