<div class="container-fluid">
  <div class="row">

    <%= render "users/users/sidebar" %>

    <div class="col-md-6 offset-md-2 col-10 offset-1 mt-5" id="main">

      <% if flash[:notice] %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
      <% end %>

      <div class="jscroll posts">
        <% @posts.each do |post| %>
          <div class="card mb-4">
            <div class="card-body">
              <%= link_to user_path(post.user) do %>
                <div class="row align-items-center">
                  <%= attachment_image_tag(post.user, :profile_image, fallback: "no-image.png", size: "50x50") %>
                  <h5><%= post.user.name %></h5>
                </div>
              <% end %>
              <p class="card-text">
                <small class="text-muted"><%= post.created_at.strftime('%Y/%m/%-d/%R') %></small>
              </p>
              <p class="card-text">
                <%= simple_format(post.body) %>
              </p>
              <div class="row align-items-center">
                <div class="far fa-comment col-md-4 col-4 text-center"><%= post.post_comments.count %></div>
                <div class="col-md-4 col-4 text-center" id="favorite-<%= post.id %>">
                  <%= render partial: "users/favorites/favorite", locals: {post: post} %>
                </div>
                <div class="col-md-4 col-4 text-center"><%= link_to "詳細", post_path(post), class: "btn btn-outline-primary" %></div>
              </div>
            </div>
          </div>
        <% end %>
        <%= paginate @posts %>
      </div>
      <span id="back">
        <a href="#">
          <%= image_tag asset_path('arrow.png'), data: {"turbolinks"=>false}, class: "back-to-head" %>
        </a>
      </span>
    </div>


  </div>
</div>

<%= render "users/users/footer" %>

<script>
  $(function() {
    $('#back a').on('click',function(event){
      $('body, html').animate({
        scrollTop:0
      }, 800);
      event.preventDefault();
    });
  });
</script>