<div class="container">
   <%= form_with model:@user, local: true do |f| %>

     <h3 class="edit">登録情報編集</h3>
     <div class="row">
       <div class="col-lg-2">
          <%= f.label :プロフィール画像 %>
       </div>
       <div class="col-lg-4">
          <%= f.attachment_field :profile_image, class: "profile_image" %>
       </div>
     </div>
     <div class="row">
       <div class="col-lg-2">
          <%= f.label :名前 %>
       </div>
       <div class="col-lg-4">
          <%= f.text_field :name, class: "name" %>
       </div>
     </div>
     <div class="row">
       <div class="col-lg-2">
          <%= f.label :自己紹介 %>
       </div>
       <div class="col-lg-4">
          <%= f.text_area :introduction, class: "introduction" %>
       </div>
     </div>
     <div class="row">
       <div class="col-lg-2">
          <%= f.label :メールアドレス %>
       </div>
       <div class="col-lg-5">
          <%= f.text_field :email, class: "email" %>
      </div>
     </div>
     <div class="row">
       <div class="col-lg-2">
          <%= f.label :誕生日 %>
       </div>
       <div class="col-lg-5">
          <%= f.date_select :birthday, use_month_numbers: true, start_year: 1994, end_year: (Time.now.year), default: Date.new(1989, 1, 1), class: "birthday" %>
       </div>
     </div>
     <div class="row">
       <div class="col-lg-2">
          <%= f.label :所属チーム %>
       </div>
       <div class="col-lg-2">
          <%= f.text_field :team, class: "team" %>
      </div>
     </div>
     <div class="row">
       <div class="col-lg-2">
          <%= f.label :活動地域 %>
       </div>
       <div class="col-lg-2">
          <%= f.select :active_area, User.active_areas.keys, {prompt: '選択してください'}, class: "active_area" %>
      </div>
     </div>
     <div class="row">
  	   <div class="col-lg-10">
         <%= f.submit('編集内容を保存する', class: 'btn btn-primary center-block')%>
  	   </div>
		 </div>
	 <% end %>

</div>