<%= render "users/homes/header" %>

<div class="container">
  <div class="text-center my-4">
    <h1 class="h3 mb-3 font-weight-normal">ログインする</h1>
  </div>
  <div class="error">
    <h3><%= flash[:error] %></h3>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <p><%= render "users/shared/error_messages", resource: resource %></p>
    <div class="form-label-group">
      <%= f.label :メールアドレス %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email address" %>
    </div>
    <br>
    <div class="form-label-group">
      <%= f.label :パスワード %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
    </div>
    <%= f.submit "ログイン", class: "btn btn-primary btn-block my-5" %>
  <% end %>
  <%= render "users/shared/links" %>
  <%= link_to user_google_oauth2_omniauth_authorize_path do %><% end %>

</div>

<footer class="text-muted">
  <div class="container">
    <p class="text-center">
      ©2020 kusa-baseball.site
    </p>
  </div>
</footer>