<div class="container-fluid">
  <div class="row">

    <div class="col-10 offset-1 mt-5" id="main">

      <% if flash[:notice] %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
      <% end %>

      <h5 class="mb-5">
        総投稿数：<%= @post_count.count %>
      </h5>

      <div class="jscroll posts">
        <% @posts.each do |post| %>
          <div class="card mb-4">
            <div class="card-body">
              <%= link_to user_path(post.user) do %>
                <div class="row align-items-center">
                  <%= attachment_image_tag(post.user, :profile_image, fallback: "no-image.png", size: "50x50") %>
                  <h5><%= post.user.name %></h5>
                </div>
              <% end %>
              <p class="card-text">
                <small class="text-muted"><%= post.created_at.strftime('%Y/%m/%-d/%R') %></small>
              </p>
              <p class="card-text">
                <%= simple_format(post.body) %>
              </p>
              <div class="row align-items-center">
                <div class="far fa-comment col-3 text-center"><%= post.post_comments.count %></div>
                <div class="far col-3 text-center fa-heart"><%= post.favorites.count %></div>
                <div class="col-3 text-center"><%= link_to "詳細", admins_post_path(post), class: "btn btn-outline-primary" %></div>
                <% if admin_signed_in? %>
                  <div class="col-3 text-center"><%= link_to "削除", admins_post_path(post), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-outline-danger" %></div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <%= paginate @posts %>
      </div>
    </div>


  </div>
</div>