<%= render "users/homes/header" %>
<div class="container text-center mt-5">
  <h2>管理者でログイン</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field mt-3">
      <%= f.label :メールアドレス %><br />
      <%= f.text_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field my-3">
      <%= f.label :パスワード %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions my-3">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>

</div>
<%= render "users/homes/footer" %>
