<!DOCTYPE html>
<html>
  <head>
    <title>KusaBaseball</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <% if admin_signed_in? %>
    <header id="header">
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
  
        <a href="/" class="my-0 mr-md-auto font-weight-bold text-dark" style="text-decoration: none;">
          <h5><span style="color: #228b22;">草</span>野球名鑑</h5>
        </a>
        <nav class="my-2 my-md-0 mr-md-3">
  
          <%= link_to '初めての方', root_path(anchor: 'about'), class: 'p-2 text-dark' %>
          <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn btn-outline-secondary my-2" %>
          <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-warning my-2" %>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-danger my-2" %>
        </nav>
      </div>
    </header>
    <% end %>

    <%= yield %>
  </body>
</html>
